.button {
  height: 52px;
  padding: 4px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #0091EA;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
}

.button:hover {
  background-color: #0781d2;
}