.inputWrapper {
  position: relative;

  &:focus-within,
  &:has(.input:not(:placeholder-shown)) {
    .label {
      top: -2px;
      transform: scale(0.88) translateX(calc(-1*14px)) translateY(-58%)
      ;
      color: #0091ea;
    }
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  padding: 1px 6px;
  font-size: 16px;
  font-weight: 400;
  color: var(--font-light-color);
  background-color: #fff;
  transition: transform .15s ease-in-out,top .15s ease-in-out, padding .15s ease-in-out;
}

.input {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family-default);
  border-radius: 5px;
  border: 1px solid #c9cace;
  outline: none;
  transition: all 0.15s ease-in-out;
 
  &:focus {
    border-color: #0091ea;
    box-shadow: 0 0 0 1px #0091ea;
    background-color: transparent;
  }
}
