.header {
  font-family: var(--font-family-proxima-nova);
  color:black;
  font-size: 14px;
  padding: 12px 32px 7px;
  background-color: #f0f0f0;
}

.headerOrg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.headerOrgName {

}