.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  background-color: #fff;
  border-radius: 24px;
  width: 188px;
  height: 36px;
  transition: all 0.25s ease-in-out;
}

.searchIcon {
  flex-shrink: 0;
  margin-right: 8px;
}

.searchInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  padding-right: 14px;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-proxima-nova);
  color: #666;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}


