.container {
  padding: 15px 64px 80px;
  background-color: #f5f5f5;
  font-family: var(--font-family-proxima-nova);
  color: var(--font-default-color);
  min-height: calc(100vh - 200px);
}

.instructionBanner {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333333;
  padding: 0;
}

/* Actions Section */
.actionsSection {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  padding: 0 10px;
  align-items: flex-start;
}

.createInvoiceButton {
  flex-grow: 2;
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: transparent;
  color: #0091ea;
  border: 2px solid #0091ea;
  border-radius: 25px;
  font-size: 13.5px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-family: var(--font-family-proxima-nova);
  white-space: nowrap;
}

.createInvoiceButton:hover {
  background-color: #eaf7ff;
}

.createInvoiceIcon {
  margin-top: -2px;
}

.uploadBundleIcon {
  width: 20px;
  height: 20px;
}

.uploadBundleArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.4rem;
  letter-spacing: -0.1px;
  width: 100%;
  border: 3px dashed #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.uploadBundleArea:hover {
  border-color: #0091ea;
  background-color: #f5f9ff;
}

.uploadBundleAreaDragging {
  background-color: #0083ca1a;
  border: 3px dashed #0083ca;
}

.uploadArrowIcon {
  flex-shrink: 0;
}

.uploadBundleText {
  font-size: 16px;
  color: #0083ca;
  font-weight: 400;
}

.fileInput {
  display: none;
}

/* Table Container */
.tableContainer {
  padding: 14px 12px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  margin-bottom: 14px;
}

.tableHeaderActive {
  display: grid;
  grid-template-columns: 90px repeat(4, 1fr) 120px;
  opacity: 1;
}

.tableHeaderCell {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
  text-transform: uppercase;
}

.tableHeaderCell svg {
  flex-shrink: 0;
}

.infoIcon {
  margin-left: 4px;
}

/* Empty State */
.emptyState {
  padding: 80px 20px;
  text-align: center;
}

.emptyStateText,
.emptyStateSubtext {
  font-size: 36px;
  color: #666666;
  color: #999;
  margin: 40px;
  font-weight: 400;
}

/* Invoice Row */
.invoiceRow {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
}

.invoiceRow:last-child {
  border-bottom: none;
}

.invoiceRowLeftBorder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: #ef3824;
}

.invoiceRowContent {
  display: grid;
  grid-template-columns: 40px repeat(4, 1fr) 100px;
  gap: 20px;
  padding: 15px 12px 10px 20px;
  align-items: center;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
  flex-shrink: 0;
  border-radius: 50%;
}

.deleteButton:hover {
  background-color: #bfbfbf;
}

.inputWrapper {
  position: relative;

  &:focus-within,
  &:has(input:not(:placeholder-shown)) {
    label {
      left: 0;
      transform: scale(0.7) translateY(-1%) !important;
      transform-origin: left top;
    }
  }
}

.inputWrapper input {
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
  padding: 20px 10px 15px;
  color: #666666;
  font-size: 16px;

  &:focus {
    box-shadow: none !important;
  }
}

.inputWrapper label {
  left: 0;
  padding: 0 10px;
}

/* Documents Column */
.documentsColumn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.documentIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.documentButton {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #cecdcd;

    .documentBadge,
    .documentIcon {
      opacity: 0;
    }

    .documentPlus {
      display: flex;
      opacity: 1;
    }
  }
}

.documentIcon {
  width: 20px;
  height: 20px;
}

.documentPlus {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.documentBadge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #666666;
  color: #ffffff;
  font-family: var(--font-family-proxima-nova);
  font-size: 13px;
  font-weight: 500;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
}

.showFilesBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #cecdcd;
  }
}