:root {
  --background: #f3f6f7;
  --font-default-color: #1e212a;
  --font-family-default: -apple-system, system-ui, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-default);
  letter-spacing: 0.3px;
  background-color: var(--background);  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}