/* Purchase/Submit Section */
.purchaseSection {
  position: fixed;
  bottom: 0;
  left: 160px;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  box-shadow: 5px 5px 18px #888;
  margin-top: 20px;
  gap: 40px;
}

.removeButton {
  padding: 10px 16px;
  background-color: transparent;
  border: 2px solid #ef3824;
  color: #ef3824;
  border-radius: 4px;
  font-size: 13.5px;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-family-proxima-nova);
  white-space: nowrap;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
}

.removeButton:hover:not(:disabled) {
  cursor: pointer;
  background-color: #fff0f0;
}

.removeButton:disabled {
  color: #999999;
  border-color: #999999;
  cursor: not-allowed;
}

.purchaseMiddle {
  display: flex;
  align-items: center;
  gap: 25px;
  flex: 1;
  justify-content: flex-end;
  margin-left: auto;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #0190ea;
  flex-shrink: 0;
}

.checkboxText {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  font-family: var(--font-family-proxima-nova);
}

.amountDivider {
  width: 1px;
  height: 47px;
  background-color: #eeeeee;
}

.amountText {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  font-family: var(--font-family-proxima-nova);
  white-space: nowrap;
}

.amountTextAmount {
  font-size: 24px;
}

.submitButton {
  min-width: 164px;
  padding: 12px 24px;
  background-color: #72bf44;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 13.5px;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-family-proxima-nova);
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out;

  &:disabled {
    background-color: #999999;
    cursor: not-allowed;
  }
}

.submitButton:hover:not(:disabled) {
  cursor: pointer;
  background-color: #559132;
}
