.loginContainer {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: var(--font-default-color);
  background-color: var(--background, #fafafa);
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  width: 100%;
  min-height: 540px;
  max-width: 400px;
}

.logo {
  align-self: center;
}

.mainTitle {
  margin: 24px 0 16px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.formDescription {
  text-align: center;
  font-size: 14px;
  letter-spacing: normal;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.loginButton {
  margin-top: 24px;
}

.passwordInput {
  margin-top: 12px;
}

.helpText {
  margin-top: 16px;
  font-size: 14px;
}

.errorMessage {
  font-size: 14px;
  margin-top: 4px;
  color: #d03c38;
}

